.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  &.Accordion {
    max-width: 500px;
    margin: 0 auto;
    font-size: 14px;
    text-align: justify;
    h3 {
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}
.fadeOut {
  background-color: black;
  animation: 0s fadeOut forwards;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  text-decoration: none;
  color: #61dafb;
  border: 2px solid #61dafb;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.25rem;
  min-width: 200px;
  transition: all 0.5s;
  &:hover {
    transform: translateX(3px);
  }
}

@keyframes fadeIn {
  0.00% {
    background-color: black;
  }
  14.29% {
    background-color: orange;
  }
  100.00% {
    background-color: black;
  }
}

@keyframes fadeOut {
  0.00% {
    background-color: black;
  }
  14.29% {
    background-color: orange;
  }
  100.00% {
    background-color: black;
  }
}
