.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fadeIn {
  animation: 1s fadeIn forwards;
}
.fadeOut {
  animation: 1s fadeOut forwards;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  text-decoration: none;
  color: #61dafb;
  border: 2px solid #61dafb;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.25rem;
  min-width: 200px;
  transition: all 0.5s;
  &:hover {
    transform: translateX(3px);
  }
}

@keyframes fadeIn {
  from {
    // opacity: 0;
    background-color: #000000;
  }
  to {
    // opacity: 1;
    background-color: #282c34;
  }
}

@keyframes fadeOut {
  from {
    // opacity: 1;
    background-color: #282c34;
  }
  to {
    // opacity: 0;
    background-color: #000;
  }
}
